.wrapper{
    display: flex;
    width: 100%;
    overflow: hidden;
    height: 80px;
    position: sticky;
    top: 70px;
    z-index: 50;
    box-shadow: rgba(33, 35, 38, .2) 0px 10px 10px -10px;
    background-color: var(--primary-color);
}
.wrapper::before,
.wrapper::after{
    content: "";
    position: absolute;
    top: 0;
    width: 100px;
    height: 100%;
    pointer-events: none;
    z-index: 2;
}
.wrapper::before{
    background: linear-gradient(to right, var(--primary-color), transparent);
    left: 0;
}
.wrapper::after{
    right: 0;
    background: linear-gradient(to left, var(--primary-color), transparent);
}
.btn-left,
.btn-right{
    position: absolute;
    z-index: 10;
    top: 16px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    box-shadow: 0 2px 4px -2px rgba(0,0,0,.1);
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e1e1e1;
    cursor: pointer;
}
.btn-right{
    right: 30px;
}
.btn-left{
    left: 30px;
}


.sidebar-list{
    display: flex;
    height: 70px;
    overflow-x: scroll;
    scroll-behavior: smooth;
}
.sidebar-list::-webkit-scrollbar{
    display: none;
}

.sidebar-item{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 24px 24px 12px;
    height: 26px;
    min-width: 80px;
    white-space: nowrap;
    transition: all;
    position: relative;
    cursor: pointer;
}
.sidebar-item::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: -8px;
    width: 100%;
    height: 3px;
    border-radius: 4px;
    background: #c8102e;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.sidebar-item.active::after{
    transform: translateX(-50%) scaleX(1);
}
.icon{
    font-size: 2rem;
}
.title{
    font-size: 1.6rem;
    font-weight: 500;
    user-select: none;
}
.active{
    color: #c8102e;
}

.search-box{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    z-index: 51;
    transform: translateX(-100%);
    transition: transform 0.4s ease;
    user-select: none;
}
.search-box.open{
    transform: translateX(0);
}
.input-container{
    width: 70%;
    margin: 0 25px;
    position: relative;
}
.input-box{
    width: 100%;
    height: 44px;
    border-radius: 6px;
    padding-left: 12px;
    border: 1px solid #e1e1e1;
    &:hover{
        border-color: #c8102e;
    }
    &:focus{
        outline: none;
        border-color: #3a3a3a;
    }
}

.btn-search{
    width: 120px;
    height: 36px;
    padding: 4px 12px;
    border-radius: 8px;
    margin-right: 12px;
    background-color: #c8102e;
    color: var(--primary-color);
    border-color: transparent;
    cursor: pointer;
}
.btn-close{
    cursor: pointer;
}
.btn-clear{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);    
    cursor: pointer;
    color: #5b5b5b;
}