.wrapper{
    margin-top: 30px;
    width: 1170px;
    position: relative;
    z-index: 0;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title{
    font-size: 2.4rem;
    line-height: 3rem;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-bottom: 12px;
    &::after{
        content: '';
        margin: 0 16px;
        height: 1px;
        width: 100%;
        display: block;
        flex: 1 1 0%;
        background-color: #e1e1e1;
    }
    &::before{
        content: '';
        margin: 0 16px;
        height: 1px;
        width: 100%;
        display: block;
        flex: 1 1 0%;
        background-color: #e1e1e1;

    }
}
.banner{
    width: 100%;
    height: 146px;
    object-fit: cover;
    margin-bottom: 30px;
    
}

.item-container{
    height: 230px;
    margin-bottom: 20px;
    background-color: var(--primary-color);
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid #e5e7eb;
    overflow: hidden;
    display: flex;
    padding-left: 0;
    cursor: pointer;
    &:hover  .item-img{
        transform: scale(1.1);
    }
    &:hover{
        box-shadow: 4px 4px 10px rgba(0,0,0,0.2);

    }
}
.item-img{
    width: 30%;
    height: 100%;
    object-fit: cover;
    object-position: center ;
    transition: transform 0.4s ease;
    transform-origin: right center;
    
}
.item-info{
    width: 70%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.item-title{
    font-size: 2.4rem;
    line-height: 3rem;
}
.item-price-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item-price{
    font-size: 1.2rem;
}
.price{
    font-size: 2.4rem;
}   
.btn-add{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c8102e;
    color: var(--primary-color);
    font-size: 2.6rem;
    cursor: pointer;
}