.wrapper{
    width: 100%;
    margin: 0 auto;
    border-radius: 12px;
    // overflow: hidden;
}

.swiper {
    width: 100%;
    height: 442px;
    border-radius: 20px;
    // overflow: hidden;
    padding-bottom: 30px;
}
.swiper img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.sidebar{
    width: 1200px;
    display: flex;
    gap: 20px;
    margin-top: 20px;
    flex-direction: column;
}

.content {
    width: 100%;
}
