.wrapper{
    margin-top: 30px;
    width: 1170px;
    position: relative;
    z-index: 0;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title{
    font-size: 2.4rem;
    line-height: 3rem;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-bottom: 12px;
    &::after{
        content: '';
        margin: 0 16px;
        height: 1px;
        width: 100%;
        display: block;
        flex: 1 1 0%;
        background-color: #e1e1e1;
    }
    &::before{
        content: '';
        margin: 0 16px;
        height: 1px;
        width: 100%;
        display: block;
        flex: 1 1 0%;
        background-color: #e1e1e1;

    }
}
.banner{
    width: 100%;
    height: 146px;
    object-fit: cover;
    margin-bottom: 30px;
    
}

.item-container{
    height: 420px;
    margin-bottom: 20px;
    background-color: var(--primary-color);
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid #e5e7eb;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 0;
    &:hover  .item-img{
        transform: scale(1.1);
    }
    &:hover{
        box-shadow: 4px 4px 10px rgba(0,0,0,0.2);

    }
}
.item-img{
    width: 100%;
    height: 70%;
    object-fit: cover;
    object-position: top right;
    transition: transform 0.4s ease;
    transform-origin: center bottom;
}
.item-info{
    width: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.item-title{
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 2.4rem;
}
.item-price-box{

}
.item-price{
    color: #b8b8b8;
}
.price{

}
.description{

}